p{
    font-family: 'Panton'; color:black;
}
a{
    font-family: 'Panton'; color:#343A40;
}
.card-back-color{
    background-color: #6C757D;
}
.font-p{
    font-family: 'Panton'; font-size: 16px;
}
.h4-panton{
    font-family: 'Panton';
}
